<app-header
  h2Element="See More"
  h3Element="Explore"
  imageSrc="space-images/moon.jpg"
/>

@if (searchTerm()) {

<section class="search-results" #searchResults>
  <h2>{{ searchTerm() }}</h2>
  @for (item of displayCollection();track item) {
  <div class="search-image-explanation-div">
    <p>{{ item.collectionData.description }}</p>
    <img
      [src]="item.collectionLinks.href"
      [alt]="item.collectionData.title"
      class="search-image"
    />
  </div>
  } @if (displayCollection().length < collectionLinksData().length) {

  <button class="load-more" (click)="loadMore()">
    Load More About {{ searchTerm() }}
  </button>
  } @if (noResults()) {
  <h3>No Results Found</h3>
  }
</section>
}

<section class="search-section">
  <div class="search-div">
    <h2>do you have anything in mind? <span>search it!</span></h2>
    <input
      #searchInput
      type="search"
      placeholder="Search Here"
      (keydown.enter)="searchNasa(searchInput.value)"
    />
  </div>
  <div
    class="carousel"
    [@scaleFade]="animationState()"
    [ngStyle]="{
      'background-image': 'url(' + displayedCarousel() + ')',
      'background-repeat': 'no-repeat',
      'background-size': 'cover',
      'background-position': 'center'
    }"
  ></div>
</section>

<app-footer />
