@keyframes scaleFade {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;
  margin: 2rem;
}

.search-results h2 {
  text-transform: capitalize;
  text-align: center;
  color: #ff8000;
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem;
}

.search-image-explanation-div {
  pad: 10px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.search-image {
  flex-shrink: 2;
  width: auto;
  max-width: 20rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 25px;
}

.search-image-explanation-div p {
  flex-grow: 2;
  padding: 1rem;
}

.load-more {
  width: fit-content;
  height: 4rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: #ff8000;
  font-weight: 300;
  font-size: larger;
  cursor: pointer;
}

.search-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.search-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-div h2 {
  text-align: center;
  text-transform: capitalize;
}

.search-div h2 span {
  color: #ff8000;
}

.search-div input {
  margin-top: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ff8000;
  max-width: 20rem;
  width: 100%;
  font-size: 1rem;
}

.search-div input:focus {
  outline: none;
}

.carousel {
  width: 90%;
  height: 80vh;
  border-radius: 25px;

  /* transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  animation: scaleFade 0.8s ease-in-out; */
}

@media (max-width: 998px) {
  .search-image-explanation-div {
    flex-direction: column;
  }

  .search-image {
    order: 1;
    max-width: 90vw;
    width: 90vw;
    height: 20rem;
  }

  .search-image-explanation-div p {
    order: 2;
  }
}
