@keyframes animate-move {
  from {
    transform: translate(var(--x, 0), var(--y, 0));
  }
  to {
    transform: translate(0);
  }
}

.image1 {
  --x: -1rem;
  --y: -1rem;
  animation: animate-move 0.5s linear;
}
.image2 {
  --x: -1rem;
  --y: 1rem;
  animation: animate-move 0.5s linear;
}
.image3 {
  --x: 1rem;
  --y: -1rem;
  animation: animate-move 0.5s linear;
}
.image4 {
  --x: 1rem;
  --y: 1rem;
  animation: animate-move 0.5s linear;
}

.image1:hover,
.image2:hover,
.image3:hover,
.image4:hover {
  transform: translate(calc(var(--x) / 2), calc(var(--y) / 2));
}

section {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.whatWeDoH3 {
  color: #ff8000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatWeDoH3::before,
.whatWeDoH3::after {
  content: "";
  margin: 0 1rem;
  display: inline-block;
  width: 200px;
  height: 1px;
  background-color: #ff8000;
}

.whatWeDo h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
  transition: 1s;
}

.whatWeDo h2 span {
  color: #ff8000;
}

.sectionOfImages {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  overflow: hidden;
  position: relative;
}

img {
  cursor: pointer;
  object-fit: cover;
}

.imagesDeclerationsTopLeft h3,
.imagesDeclerationsTopRight h3,
.imagesDeclerationsBottomLeft h3,
.imagesDeclerationsBottomRight h3 {
  color: #ff8000;
}

.imagesDeclerations {
  margin: 0 0 2rem 1rem;
  text-align: left;
}

.pod-h2 {
  text-align: center;
  color: #ff8000;
  font-size: 2.5rem;
  font-weight: 400;
}

.pod-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.pod-description {
  text-align: left;
  color: white;
  order: 2;
}

.pod-description h2 {
  color: #ff8000;
  margin-bottom: 0.2rem;
}

.pod-section img {
  order: 1;
  width: 95vw;
  height: 12rem;
  border-radius: 25px;
  transition: 0.5s;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

.gallery h2 {
  text-align: left;
  color: #ff8000;
  font-size: 2.5rem;
  font-weight: 400;
}

.gallery-images {
  display: grid;
  place-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .sectionOfImages {
    flex-direction: column;
  }

  .sectionOfImages img:hover {
    transform: translate(0);
  }

  .whatWeDoH3::before,
  .whatWeDoH3::after {
    width: 70px;
  }

  .whatWeDo h2 {
    font-size: 2rem;
  }

  .imagesDeclerationsTopLeft,
  .imagesDeclerationsTopRight,
  .imagesDeclerationsBottomLeft,
  .imagesDeclerationsBottomRight {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .imagesDeclerations {
    display: none;
  }

  .imagesSpace {
    width: 15rem;
    height: 15rem;
    box-shadow: 0 20px 80px rgba(79, 79, 223, 0.251);
  }

  .whatWeDoH3::before,
  .whatWeDoH3::after {
    width: 100px;
  }
}
